*~
*.1
*.o
.deps
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/configure
/config.log
/config.status
/linux/linux-pca
/podwrapper.pl
/run
/stamp-h1

# Ignore local build directories
/build*

# Ignore local* files for things like ./localconfigure
/local*
